@use "@/app/styles/mixins.scss" as *;

.panel {
  padding: 6px;
  min-height: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 6px;
  width: 250px;
  flex-shrink: 0;
   height: 80%;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.count {
  padding: 6px 10px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.08);
}

.list {
  display: grid;
  gap: 6px;
  align-content: start;
  overflow: auto;
  @include scrollbar;
}